<div class="jumbotron container" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
  <div class="card" id="x" *ngFor="let data of serviceData | async">
      <div class="card-body">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp-7ovU5yEVmrYaygtQ3IOdIqjFt_tEG3mwmPO5tYo&s" width="20%" height="100px" alt="image not found">
        <h4 class="card-title text-success">User ID:{{data.id}}</h4>
        <h4 class="card-title text-success">User Title:{{data.title}}</h4>
        <h4 class="card-title text-info">Company Information:{{data.body}}</h4>
      </div>
  </div>
</div>